/* This is the import of a font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
body
{
  font-family: 'Roboto', sans-serif;
  font-weight:100 !important;
  margin: 0px;
  /* background: rgba(255, 127, 0, 0.5);
  color: #0af; */


  /* background: rgb(255, 127, 0); */


  /* background: #00ff00;
  background: #0f0;   /*You can use shorthand hex if each pair is the same digit*/ */
}

body h1
{
  font-weight: 100;
  /* The order of arguments for setting margin space are top, right, bottom, left (i.e. clockwise)*/
  margin: 20px 30px
}

/* This is the body header ID tag, they are unique, no two can be the same.*/
#main-header
{
  border-bottom: 2px solid #000;

  /* border: 1px solid #000;   /* You can also use dotted and dashed.*/ */
  /* border-top: none; */
}

/* Rule of specificity always applies as CSS is read top down
The angle brakets denote prarent/child inheritence, left most being further up the
inheritence tree*/
body > header > h3
{
  background: #fff;
  color: #0f0;
}

/* This targets ANY h3 element anywhere, but because of specificity, this will not be applied*/
h3
{
  color: #000;
  margin-left: 400px;
  margin-top: 100px;
  padding: 50px;
}

/* This targets ANY h3 element in the body, but because of specificity, this will not be applied*/
body h3
{
  color: #00f;
}

/* Mulitple elements can be selcted by using commas h1, h3, h4 etc
Margins are external to the content, padding is internal to the content.*/
h1
{
  float:left;
  margin-left: 400px;
  margin-top: 100px;
  padding: 20px;

  /* display: inline-block;  /* inline blocks are only as wide as they have to be and can use height*/ */
  /*block elements are full width and can use height*/
  /* display: inline; /* inline elements are only as wide and as high as they have to be.*/ */
  /* height: 20px; */
  /* margin: 0px; */
  /* line-height: 20px; /* This denotes how high the line itself can be.*/ */
}
